{{page-title "Add New Album"}}

<div>
  <LinkTo @route="albums.index" class="back-link">← Back to Albums</LinkTo>

  <form {{on "submit" this.createAlbum}} class="album-form">
    <div class="form-field">
      <label for="album-title">Title</label>
      <Input
        @type="text"
        @value={{this.newTitle}}
        id="album-title"
        placeholder="Kid A"
        required
      />
    </div>

    <div class="form-field">
      <label>Artist/Band</label>
      {{#each this.artistNames key="@index" as |artistName index|}}
        <div class="artist-input-group">
          <input
            type="text"
            value={{artistName}}
            {{on "input" (fn this.updateArtistName index)}}
            placeholder="Radiohead"
            class="artist-input"
            required
          />
          {{#if (gt this.artistNames.length 1)}}
            <button
              type="button"
              {{on "click" (fn this.removeArtistField index)}}
              class="button-remove"
            >
              −
            </button>
          {{/if}}
        </div>
      {{/each}}
      <button
        type="button"
        {{on "click" this.addArtistField}}
        class="button-add"
      >
        + Add artist
      </button>
    </div>

    <div class="form-field">
      <label for="album-release-date">Release Date</label>
      <Input
        @type="date"
        @value={{this.newReleaseDate}}
        id="album-release-date"
        placeholder="2000-10-02"
        required
      />
    </div>

    <div class="form-field">
      <label for="album-cover">Cover URL</label>
      <Input
        @type="text"
        @value={{this.newCoverUrl}}
        id="album-cover"
        placeholder="http://..."
      />
    </div>

    <div class="form-field">
      <label for="album-genre">Genre</label>
      <Input
        @type="text"
        @value={{this.newGenre}}
        id="album-genre"
        placeholder="rock"
        required
      />
    </div>

    <div>
      <button type="submit" class="button">Create Album</button>
      <button type="button" {{on "click" this.cancel}} class="button">
        Cancel
      </button>
    </div>
  </form>
</div>
